# Dependencies need to be unzipped, but we don't commit them
/bin
/deps.win64
/deps.posix*
/deps.android-arm
/deps.android-x86
/do-release.sh
/EXCLUDE
/ga/core/deprecated
/ga/doxygen
/prebuilt.*
/profile
/sync.sh
/tmp
# ga/android/gaclient
/ga/android/gaclient/.gradle
/ga/android/gaclient/.idea
/ga/android/gaclient/build
/ga/android/gaclient/GAClient/*.apk
/ga/android/gaclient/GAClient/build
/ga/android/gaclient/GAClient/src/main/libs
/ga/android/gaclient/GAClient/src/main/obj

/ga/client/ga-client
/ga/server/periodic/ga-server-periodic
ga/vs2013/ga-server-periodic/send.raw
ga/vs2013/Release/mod/vsource-desktop.dll
ga/vs2013/Release/mod/vsource-desktop-dfm.dll
ga/vs2013/Release/mod/vsource-desktop-d3d.dll
ga/vs2013/Release/mod/server-live555.dll
ga/vs2013/Release/mod/server-ffmpeg.dll
ga/vs2013/Release/mod/filter-rgb2yuv.dll
ga/vs2013/Release/mod/encoder-x264.dll
ga/vs2013/Release/mod/encoder-video.dll
ga/vs2013/Release/mod/encoder-audio.dll
ga/vs2013/Release/mod/asource-system.dll
ga/vs2013/Release/ga-hook.dll
ga/vs2013/ga-client/recv.raw
